<html>
<head>
<title>Ticket Infomation</title>
</head>
<body>
	<p>
  	<strong>Check the ticket info below</strong>
	</p>
	<p>
  	<strong>User Name:</strong>
  	<%= @username %>
	</p>
	<p>
  	<strong>Tournament:</strong>
  	<%= @tournament_name %>
	</p>
	<%= form_for @ticket do |f| %>
	  <p>
	    <%= f.label :TicketType %><br>
	    <%= f.select(:tickets_type, options_for_select([['Player', "Player"], ['Sponsor', "Sponsor"]], 2)) %>
	    <%= f.hidden_field :event_id, :value=> @event_id %>
	  </p>
	  <p>
	  	<%= f.submit "Pay"%>
	  </p>
	<% end %>
</body>
</html>