<!-- Don't use "form_for :tournament", that got routing problems  -->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<div id="tournament_div">
	<h1 id="tournamentHeader">New Golf Course</h1>
	<%= form_for(@golf_course) do |f| %>  
      <p id="create_tournament"> 
        <%= f.label :golf_course_name %><br> 
        <%= f.text_field :name, :placeholder => "Golf Course Name", :class => "form_input" %>
      </p>

      <p id="create_tournament"> 
        <%= f.label :overview %><br> 
        <%= f.text_field :overview, :placeholder => "Overview", :class => "form_input" %>
      </p>

      <p id="create_tournament"> 
        <%= f.label :address %><br> 
        <%= f.text_field :address, :placeholder => "Address", :class => "form_input" %>
      </p>

      <p id="create_tournament"> 
        <%= f.label :contact_information %><br> 
        <%= f.text_field :contact_info, :placeholder => "Contact Information", :class => "form_input" %>
      </p>
      
      <p id="create_tournament"> 
        <%= f.label :website %><br> 
        <%= f.text_field :website, :placeholder => "Website", :class => "form_input" %>
      </p>
       	 
   		<%= f.submit "Add Golf Course", :class => "login_button" %>
  <% end %>
</div>
</html>

