<html>
<head>
  <title>Golf Courses</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</script>

</head>

<body>
  <div id="main">
    <%=render "header_menu"%>
<div id="site_content">

  <div id="banner_image">
    <%= image_tag("ball.jpg", :alt => "golf ball") %>
  </div>

<div id="tournament_content">

    <div class="content_item">
        <h1 class="header">Current Golf Courses</h1>

        <table class="tournament_table">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
            <% @golf_courses.each do |g| %>
              <tr> 
                  <td><%= g.id %></td>
                  <td><%= g.name %></td>
                  <td>
                    <%= link_to "Details", golf_course_path(g), :class=>"button_small button_tour" %>
                  </td>
              </tr>
            <% end %>
          </table>
          <%= link_to 'New Golf Course', "/golf_courses/new", :class => "button_small" %>

            </div><!--close content_item-->
        </div><!--close content-->
  </div><!--close content_green-->
</div><!--close site_content-->

</div><!--close main-->
<div id="footer">
</div><!--close footer-->

</body>



</html>
