<body>
	<b>Golf Course Name: </b><%= @golf_course.name %> <br />
    <b>Golf Course ID: </b> <%= @golf_course.id %> <br />
    <b>Overview: </b> <%= @golf_course.overview %> <br />
    <b>Address: </b><%= @golf_course.address %><br />
    <b>Contact Information: </b><%= @golf_course.contact_info %><br />
    <b>Website: </b><%= @golf_course.website%><br />
    <p>&nbsp;</p>
    <%= link_to "All Golf Courses", "/golf_courses", :class=>"button_small button_tour" %>
</body>