<html>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div id="main">
		<%=render "header_menu"%>
		<div id="site_content">
			<p>&nbsp;</p>
			<h2 class="page_header">Welcome to your personal profile, <%= @user.first_name %></h2>
			<br>
			<div class="profile">
				<div class="general_inf">
					<%= image_tag("avatar.png", :alt => "golf ball")%>
				</div>
				<div class="general_inf">
					<p class="info"><strong>First Name:</strong><%= @user.first_name %></p>
					<p class="info"><strong>Last Name:</strong><%= @user.last_name %></p>
					<p class="info"><strong>Birthdate:</strong></p>
				</div>
			</div>
			
			<div class="profile">	
			<p><strong>Contact Information</strong></p>
			<p><strong>Email:</strong><%= @user.email %></p>
			<p><strong>Phone Number:</strong></p>
			<p><strong>Address:</strong></p>
			<p>&nbsp;</p>
			<p><strong>Personal Message:</strong></p>
			<p>I love Golf. Golf is life.</p>
			<p>&nbsp;</p>
			</div>

			<%= render partial: "show_events_for_one_person", locals: { :@title => "Played Tournaments", :@events => @user.played_events } %>
			<br />
			<%= render partial: "show_events_for_one_person", locals: { :@title => "Organized Tournaments", :@events => @user.organized_events } %>
			<br />
			<%= render partial: "show_events_for_one_person", locals: { :@title => "Sponsored Tournaments", :@events => @user.sponsored_events } %>
			<br />
			<p><%= link_to 'Edit', edit_user_path(@user) %></p>
		</div>
	</div>
</body>