<html>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div id="main">
		<%=render "header_menu"%>
		<div id="site_content">
			<p>&nbsp;</p>
			<% if current_user == @user %>
				<%= render partial: "tournaments/show_requests", locals: {title: "Sent Requests", requests: @user.sent_requests} %>
				<%= render partial: "tournaments/show_requests", locals: {title: "Received Requests", requests: @user.received_requests} %>
				<h2 class="page_header">Welcome to your personal profile, <%= @user.first_name %></h2>
			<% else %>
				<h2 class="page_header">Profile page for <%= @user.first_name %> <%= @user.last_name %></h2>
			<% end %>
			
			<br>
			<div class="profile">
				<div class="general_inf">
					<%= image_tag("avatar.png", :alt => "golf ball")%>
				</div>
				<div class="general_inf">
					<p class="info"><strong>First Name:</strong><%= @user.first_name %></p>
					<p class="info"><strong>Last Name:</strong><%= @user.last_name %></p>
					<p class="info"><strong>Birthdate:</strong></p>
				</div>
			</div>

			<div class="profile">	
			<p class="info"><strong>Contact Information</strong></p>
			<p class="info"><strong>Email:</strong><%= @user.email %></p>
			<p class="info"><strong>Phone Number:</strong></p>
			<p class="info"><strong>Address:</strong></p>
			<p>&nbsp;</p>
			</div>

			<!--div class="profile"--><!--!!!!!Bug if added this!!!!!-->
			<%= render partial: "show_events_for_one_person", locals: { :@title => "Organized Tournaments", :@events => @user.organized_events } %>
			<p>&nbsp;</p>
			<%= render partial: "show_events_for_one_person", locals: { :@title => "Played Tournaments", :@events => @user.played_events } %>
			<p>&nbsp;</p>
			<%= render partial: "show_events_for_one_person", locals: { :@title => "Sponsored Tournaments", :@events => @user.sponsored_events } %>
			<p>&nbsp;</p>
			<% if current_user == @user %>
				<%= link_to 'Edit My Profile', edit_user_path(@user), :class => "button_small"%> 
			<% end %>
			<!--/div-->
		</div>
	</div>
</body>