<div class="col-sm-6 col-sm-offset-3">
  <%= form_for @tournament, :html => { :multipart => true } do |t| %>


      <div class="form-group row">
         <%= t.label :tournament_name, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= t.text_field :name, :placeholder => "Tournament Name", :class =>"form-control",:required => true%>
        </div>
      </div>

      <div class="form-group row">
        <%= t.label :private_tournament?, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <i>Private tournaments will not show up on the "tournaments" page. Outsiders(not logged in) will not be able to view private tournaments.</i><br>
          <%= t.select :is_private, options_for_select([['public', 0], ['private', 1]], @tournament.is_private), :include_blank => false %>
        </div>
      </div>

      <div class="form-group row">
        <%= t.label :location, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <% @golf_course_dump = [] %>
        <% (GolfCourse.all).each do |gf| %>
            <% @golf_course_dump << [gf.id.to_s+". "+gf.name+"("+gf.address+")", gf.id] %>
        <% end %>
        <% if !@golf_course_dump.empty? %>
          <i>Note: If both fields are filled in, the location field, though recorded, will be covered with the address of the selected golf course</i><br>
          <i>Select an existing golf course in the list</i>
          <%= t.select :golf_course_id, options_for_select(@golf_course_dump), :include_blank => true %><br>

          <i>OR</i><br>
        <% else %>
          <i>No registered golf courses available now...</i><br>
        <% end %>

        <i>Enter a location</i>
        <%= t.text_field :location, :placeholder => "Location", :class => "form_control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= t.label :date, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= t.datetime_select :date, start_year: Date.current.year %>
        </div>
      </div>

      <div class="form-group row">
        <%= t.label :email, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= t.text_field :contact_email, :placeholder => "Email", :class => "form_control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= t.label :contact_name, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= t.text_field :contact_name, :placeholder => "Name", :class => "form_control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= t.label :description, :class=>"col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= t.text_area :description, cols: "58", rows: "10", :maxlength => 500, :placeholder => "Type your tournament description here..."%>
        </div>
      </div>

      <%= t.submit "Create Tournament", :class => "button button_new" %>
      <%= link_to 'Cancel', "/tournaments", :class => "button button_new" %>

<% end %> <!-- End of form-->
</div>
