<!-- Don't use "form_for :tournament", that got routing problems  -->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<div id="tournament_div">
	<h1 id="tournamentHeader">New Tournament</h1>
	<%= form_for(@tournament) do |t| %>    
        <%= t.text_field :name, :placeholder => "Tournament Name", :class => "form_input" %>
        <%= t.text_field :location, :placeholder => "Location", :class => "form_input" %>

        <div id="date_dropdown">
      		<h4>Date</h4>
      		<%= t.datetime_select :date, start_year: Date.current.year %>
      	</div>
        <%= t.text_field :contact_email, :placeholder => "Email", :class => "form_input" %>
        <%= t.text_field :contact_name, :placeholder => "Name", :class => "form_input" %>
        
        <%= t.text_area :description, cols: "58", rows: "10", :maxlength => 500, :placeholder => "Type your tournament description here..."%>
        
       	 
   		<%= t.submit "Create Tournament", :class => "login_button" %>
  <% end %>
</div>
</html>

