
<%= provide(:title, @title) %>
<h1><%= @title %></h1>
<% if @persons && @persons.any? %>
  <table class="tournament_table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  	<% @persons.each do |p| %>
      <tr>
        <td><%= p.first_name %></td>
        <td><%= p.last_name %></td>
        <td><%= link_to 'Show Profile', user_path(p), :class=>"button_small button_tour" %></td>
      </tr>
    <% end %>
  </table>
<% elsif @persons %>
  None
<% end %>
