<html>
<!--
<% @tournaments.each do |t| %>
<p> 
    <%= t.name %>
    <%= link_to "Show Details", tournament_path(t) %>
    <%= link_to "Edit", edit_tournament_path(t) %>
    <%= link_to 'Destroy', tournament_path(t), method: :delete, 
    data: { confirm: 'Are you sure?' }  %>
</p>
<% end %>
<%= link_to 'New Tournament', "/tournaments/new" %>
-->
<head>
  <title>Tournaments</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</script>

</head>

<body>
  <div id="main">
    <%=render "header_menu"%>
<div id="site_content">

  <div id="banner_image">
    <%= image_tag("ball.jpg", :alt => "golf ball") %>
  </div>

<div id="tournament_content">

    <div class="content_item">
        <h1 class="header">Current Tournaments</h1>

        <table class="tournament_table">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Location</th>
              <th>Date</th>
              <th>Contact e-mail</th>
              <th>Action</th>
            </tr>
            <% @tournaments.each do |t| %>
            <tr> 
                <td><%= t.id %></td>
                <td><%= t.name %></td>
                <td><%= t.location %></td>
                <td><%= t.date %></td>
                <td><%= t.contact_email %></td>
                <td>
                  <%= link_to "Details", tournament_path(t), :class=>"button_small button_tour" %>
                  <% if current_user.nil? || !current_user.played_in?(t) %>
                        <%= button_to "PLAY!", {:controller => "join", :action => "create", :method=> :post, :params=> {event_id: t.id, join: 0}}, {:form_class=>"button_small form_tour", :class=>"button_form_tour"} %>
                  <% else %>
                        <%= link_to "Stop playing", join_path(:id => t.id, :params => {:event_id => t.id, :join => 0}), :method=> :delete, data: { confirm: 'Are you sure?' }, :class=>"button_small button_tour" %>
                  <% end %>
                  <% if !current_user.nil? && current_user.organized_a?(t) %>
                    <%= link_to "Edit", edit_tournament_path(t), :class=>"button_small button_tour" %>
                    <%= link_to 'Delete', tournament_path(t), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button_small button_tour"  %>
                </td>
                <% end %>
            </tr>
            <% end %>
          </table>
          <%= link_to 'New Tournament', "/tournaments/new", :class => "button_small" %>

            </div><!--close content_item-->

        </div><!--close content-->

        <div id="content_green">

            <div class="content_green_container_box">
              <h4>Latest Blog Post</h4>
              <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
              <a href="#">Read more</a>
          </div><!--close content_green_container_box-->

          <div class="content_green_container_box">
           <h4>Latest News</h4>
           <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
           <a href="#">Read more</a>
       </div><!--close content_green_container_box-->

       <div class="content_green_container_boxl">
          <h4>Latest Projects</h4>
          <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
          <a href="#">Read more</a>
      </div><!--close content_green_container_box1-->

  </div><!--close content_green-->

</div><!--close site_content-->

</div><!--close main-->

<div id="footer">

</div><!--close footer-->

</body>



</html>
