<body>
    <b>Tournament name: </b><%= @tournament.name %> <br />
    <b>Tournament id: </b> <%= @tournament.id %> <br />

  <!--Show requests-->
  <% if !(current_user.nil?) && current_user.organized_a?(@tournament)%>
    <%= render partial: "show_requests", locals: {title: "Pending Requests for This Tournament", requests: received_requests} %>
  <% end %>
  

  <% if current_user.nil? || !current_user.played_in?(@tournament) %>
      <%= button_to "PLAY!", :controller => "join", :action => "create", :method=> :post, :params=> {event_id: @tournament.id, join: 0} %>
  <% else %>
      <%= link_to "Stop playing...", join_path(:params => {:event_id => @tournament.id, :join => 0}), :method=> :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% if current_user.nil? || !current_user.organized_a?(@tournament) %>
      <%= button_to "Organize!", :controller => "join", :action => "create", :method=> :post, :params=> {event_id: @tournament.id, join: 1} %>
  <% else %>
      <%= link_to "Stop organizing...", join_path(:params => {:event_id => @tournament.id, :join => 1}), :method=> :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <% if current_user.nil? || !current_user.sponsored_a?(@tournament) %>
      <%= button_to "Sponsor!", :controller => "join", :action => "create", :method=> :post, :params=> {event_id: @tournament.id, join: 2} %>
  <% else %>
      <%= link_to "Stop sponsoring...", join_path(:params => {:event_id => @tournament.id, :join => 2}), :method=> :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

	<%= render partial: "show_persons_for_one_event", :locals => { :@title => "Players", :@persons => @tournament.players } %>
	<%= render partial: "show_persons_for_one_event", :locals => { :@title => "Organizers", :@persons => @tournament.organizers } %>
	<%= render partial: "show_persons_for_one_event", :locals => { :@title => "Sponsors", :@persons => @tournament.sponsors } %>
  <br/>
  <h1>Description</h1>
  <%= @tournament.description %>
	
	<br/>
    <%= link_to "All tournaments", "/tournaments" %>
</body>
